<h2>posts</h2>
{{#each allThePosts}}
    <p class='book-title'>
        {{!-- <a href="/books/edit?_id={{this._id}}" class="edit-button">EDIT</a>
        <a href="/books/details/{{this._id}}">{{this.title}}</a>  --}}
    {{this.title}}
    <br>
    {{this.description}}
        <br>
    {{this.imageUrl}}
    </p>
{{/each}}